name: GitHub Metrics

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: yesminehe
          template: classic
          base: header, activity, community
          languages: yes
          languages_ignored: html, css
          languages_limit: 8
          achievements: yes
          achievements_threshold: C
